<!DOCTYPE html>
<html lang="pl" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Strona główna</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
          crossorigin="anonymous">
</head>
<body>
<main class="container">
    <div class="my-3">
        <a sec:authorize="isAuthenticated()" th:text="|Wyloguj się ${#authentication.name}|"
           th:href="@{/logout}">Wyloguj</a>
    </div>
    <h1 class="text-center my-3">Strona główna</h1>
    <div class="m2">
        <a href="/register">Zarejestruj</a> <br>
        <a sec:authorize="!isAuthenticated()" th:href="@{/login}">Zaloguj się</a>
        <a sec:authorize="hasRole('ADMIN')" th:href="@{/adminPanel}">Panel administratora</a> <br>
        <a href="/userPanel">Edycja profilu</a>
    </div>
</main>
</body>
</html>